/* ============================
   Global Styles
   ============================ */

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

a:hover {
    color: #f39c12;
}

html,
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* Vertical column layout */
    height: 100%;
}

main {
    flex: 1;
    padding-top: 110px;
    text-align: center;
}

/* ============================
   Header
   ============================ */
.header {
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    background-color: #000;
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    font-family: 'Poppins', sans-serif;
}

.logo-img {
    width: 150px;
    height: auto;
    padding: 0 25px;
    transition: transform 0.3s;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1100;
    position: relative;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

/* ****************** Change to cross when active ****************** */
.hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* ============================
   Menu Styles
   ============================ */

.menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 50px;
    padding-left: 15%;
    justify-content: center;
    /* Keep other items centered */
    align-items: center;
    width: 100%;
    /* Ensure it spans the full width */
    background-color: #000;
}

.menu-item {
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    transition: color 0.3s, transform 0.3s;
}

.menu-item:hover {
    transform: scale(1.1);
}

/* ============================
   Button- Contact
   ============================ */
.menu-item.contact {
    background-color: #f39c12;
    color: white;
    padding: 7.5px 15px;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s;
}

.menu-item.contact:hover {
    background-color: #f39c12;
}

.menu-list li:last-child {
    margin-left: auto;
    /* Push the 'Contact Us' button to the right */
}

/* ============================
   Hero- Main
   ============================ */

/* Hero Section */
.main-content {
    position: relative;
    height: 100vh;
}

.hero {
    position: relative;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Hero Text */
.hero-text {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 1;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-text p {
    font-size: 1rem;
    margin-bottom: 30px;
    line-height: 1.4;

}

/* .hero-video {
    position: relative;
    width: 60%; 
    height: 100%; 
    object-fit:cover; 
    z-index: 0; 
} */

.hero-video {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(50%);
}

.hero-button {
    background-color: #f39c12;
    color: white;
    padding: 7.5px 30px;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s;
}

/* ============================
   Index-Services
   ============================ */

.services-head {
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.services-head h1 {
    font-size: 2rem;
    color: #f39c12;
}

/* Services Section */
.services {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 25px 100px 120px 100px;
}

.services .services-dropdown-container {
    display: none;
}

.service-list {
    flex: 1;
    padding-right: 40px;
}

.service-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
    padding-right: 50px;
    border-right: 2px solid #f39c12;
    /* Add vertical line after the service list */
    padding-top: 25px;
    padding-bottom: 30px;
}

.service-item-index {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
    transition: color 0.3s;
    display: block;
    text-align: right;
    /* Right justify text */
    padding-bottom: 20px;
}

.service-item-index:hover {
    color: #f39c12;
}

.service-item-index.selected {
    color: #f39c12;
}

.service-detail {
    flex: 2;
    align-content: flex-start;
}

.service-description {
    display: none;
    /* Hide all service descriptions by default */
    text-align: left;
}

.service-description:first-of-type {
    display: block;
    /* Make the first one visible */
}

.service-description h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.service-description p {
    font-size: 1rem;
    color: #888;
}

.service-link-index {
    color: #f39c12;
    text-decoration: none;
}

.service-link-index:hover {
    text-decoration: underline;
}

.service-link-index::after {
    content: " >";
    color: #f39c12;
    font-size: 25px;
    /* Adjust the size as needed */
}

.service-image-index {
    width: 100%;
    height: 50%;
    object-fit: contain;
    animation: fadeInBottom 0.75s forwards 0.5s;
    /* Slightly slower fade-in */
}

/* ============================
   Industries - Index page
   ============================ */

.industries-head {
    justify-content: center;
    align-items: center;
}

.industries-head h1 {
    font-size: 2rem;
    color: #f39c12;
}

.industries-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 25px 50px;
    background-color: #000;
}

.industries-item-index {
    flex: 1;
    text-align: center;
}

.box-industries {
    background-color: #000;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    height: 50vh;
}

.industries-item-index h3 {
    font-size: 1.2rem;
    margin: 0;
    color: #fff;
}

.industries-index-image {
    max-width: 50%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
}

.industries-item-index p {
    font-size: 1rem;
    color: #888;
    margin-top: 10px;
}

.industries-grid-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* ============================
   About us - Index page
   ============================ */

/* General Layout for Larger Screens */
.about-us-head {
    display: flex;
    /* Enable flexbox layout */
    flex-direction: row;
    /* Position items side by side */
    align-items: center;
    /* Vertically center align */
    justify-content: center;
    /* Horizontally center align */
    width: 100%;
    height: 80vh;
    /* Full viewport height */
    gap: 2rem;
    /* Add spacing between image and text */
    text-align: left;
    /* Align text to the left */
}

.index-about-us {
    width: 50%;
    /* Image takes up half the section width */
    height: 100%;
    /* Maintain aspect ratio */
}

.about-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center align content vertically */
    width: 40%;
    /* Content takes up a smaller portion */
}

.about-us-head h1 {
    font-size: 2rem;
    color: #f39c12;
    margin-bottom: 1rem;
    /* Add space below the title */
}

.about-us-head p {
    font-size: 1rem;
    color: #888;
    margin: 0;
    /* Reset margin */
}



.why-choose-us-head {
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.why-choose-us-head h1 {
    font-size: 2rem;
    color: #f39c12;
}

.why-choose-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0px 75px;
    background-color: #000;
    height: 75vh;
}

.why-choose-item {
    flex: 1;
    text-align: center;
}

.box {
    background-color: #000;
    padding: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    height: 50vh;
}

.why-choose-item h3 {
    font-size: 1.2rem;
    margin: 0;
    color: #fff;
}

.why-choose-image {
    max-width: 50%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
}

.highlight {
    color: #f39c12;
    /* Change this to any color you'd like for the highlighted text */
    font-weight: bold;
}

.why-choose-item p {
    font-size: 1rem;
    color: #888;
    margin-top: 10px;
}

/* ============================
   Contact us - Index page
   ============================ */

#contact-us-head {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contact-us-head h1 {
    font-size: 2rem;
    color: #f39c12;
}

.contact-us-content {
    display: flex;
    max-width: 1200px;
    gap: 20px;
    /* Space between text and image */
    color: #888;
}

#contact-us-index {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contact-us-index {
    display: flex;
    gap: 30px;
}

.contact-text {
    flex: 1;
    text-align: right;
    padding: 0px 25px;
}

.contact-image {
    flex: 1;
    display: flex;
    padding: 0px 25px;
}

.index-contact-us {
    width: 100%;
    height: 100%;
}

/* ============================
   Contact us - Index page
   ============================ */

/* ****************** Contact-us ****************** */

.main-contact {
    position: relative;
    height: 100vh;
}

.hero-text-contact,
.hero-about-us {
    width: 100%;
    text-align: top;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.hero-text-contact h1,
.hero-text-about-us h1 {
    font-size: 2rem;
    ;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 50px;
    background-color: #000;
    /* Black background */
    padding-bottom: 100px;
}

.contact-left {
    flex: 1;
    text-align: right;
    color: white;
    padding-right: 20px;
    animation: fadeInBottom 0.75s forwards 0.25s;
}

.contact-left h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #f39c12;
}

.contact-left p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.contact-details p {
    font-size: 1rem;
}

.contact-right {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    justify-items: center;
}

.contact-right video {
    height: 50%;
    width: 100%;
}

/* .contact-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    padding-left: 1rem;
}

.contact-form input, .contact-form textarea {
    position:relative;
    width: 35rem;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 8px;
    background-color: #222;
    color: white;
    font-size: 1rem;
    text-align: left;
    padding: 8px;
} */

.enquire-button {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.enquire-button:hover {
    background-color: #d37d0f;
}

.social-links-contact {
    padding-bottom: 40px;
}

.social-links-contact a {
    padding-right: 15px;
}

.social-links-contact .social-icon-contact {
    width: 30px;
    height: 30px;
}

/* ============================
   Coming soon pages
   ============================ */

.coming-soon-bg-image {
    height: auto;
    width: 100%;
    border: #000;
}

/* ============================
   Careers page
   ============================ */

.careers-section img {
    height: auto;
    width: 75%;
}

.hero-text-careers h1 {
    font-size: 2rem;
    ;
}

.careers-section-main p {
    height: 20vh;
    font-size: 1.5rem;
    padding: 100px 0;
}




/* ============================
   About us pages
   ============================ */

.about-us-section p {
    font-size: 1rem;
    /* Adjust the font size for paragraph */
    color: white;
    margin: 0;
    padding: 0 15px;
    /* Add some padding for mobile responsiveness */
    text-align: center;
}

.about-us-section {
    display: flex;
    flex-direction: column;
    /* Stack the items vertically */
    justify-content: center;
    align-items: center;
    height: auto;
    /* Adjusted height for the section */
    text-align: center;
    background-color: #000;
}

.about-us-section h2 {
    font-size: 1.5rem;
    /* Adjust the font size */
    color: #f39c12;
    font-weight: 300;
    text-align: center;
    /* Ensure text is horizontally centered */
    padding: 20px;
}

.who-are-we-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
    gap: 20px;
    background-color: #000;
    /* Match the website's theme */
}

.who-are-we-content {
    display: flex;
    flex-direction: row-reverse;
    /* Image on the right, text on the left */
    gap: 20px;
    align-items: center;
}

.who-are-we-text {
    flex: 1;
    color: white;
    text-align: right;
    padding-right: 30px;
    /* border-right: 2px solid #f39c12; Add a dividing line */
}

.who-are-we-text h2 {
    font-size: 1.5rem;
    color: #f39c12;
    font-weight: 300;
}

.who-are-we-text p {
    font-size: 1rem;
    line-height: 1.6;
}

.who-are-we-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.who-are-we-image img {
    padding-top: 50px;
    max-width: 80%;
    height: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    /* Optional shadow */
    animation: fadeInBottom 0.75s forwards 0.5s;
    /* Slightly slower fade-in */
}

.what-we-do-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    gap: 20px;
    background-color: #000;
    /* Match the website's theme */
}

.what-we-do-content {
    display: flex;
    flex-direction: row-reverse;
    /* Image on the right, text on the left */
    gap: 20px;
    align-items: center;
}

.what-we-do-text {
    flex: 1;
    color: white;
    text-align: left;
    padding-left: 30px;
    /* border-left: 2px solid #f39c12; Add a dividing line */
}

.what-we-do-text h2 {
    font-size: 1.5rem;
    color: #f39c12;
    font-weight: 300;
}

.what-we-do-text p {
    font-size: 1rem;
}

.what-we-do-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-we-do-image img {
    padding-top: 50px;
    max-width: 80%;
    height: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    /* Optional shadow */
    animation: fadeInBottom 0.75s forwards 0.5s;
    /* Slightly slower fade-in */
}


/* ============================
   Services
   ============================ */

/* Services Section Styling */
.services-main {
    padding: 2rem;
    background-color: #000;
    text-align: center;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Adjusted to 2 columns */
    gap: 1.5rem;
    /* Space between grid items */
    max-width: 1200px;
    margin: 0 auto;
}

.service-item {
    background-color: #000;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service-item.center {
    grid-column: 2 / 3;
}

.service-image {
    width: 100%;
    height: 275px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    animation: fadeInBottom 0.75s forwards 0.5s;
    /* Slightly slower fade-in */
}

.service-item h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    margin: 1rem 0 0.5rem;
}

.service-item p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 1rem;
}

.service-link {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #007BFF;
    text-decoration: none;
    margin-top: 0.5rem;
}

.service-link:hover {
    text-decoration: underline;
}

/* ============================
   Industries
   ============================ */

/* Industries Section Styling */
.industries-main {
    padding: 2rem;
    background-color: #000;
    text-align: center;
}

.industries-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Adjusted to 2 columns */
    gap: 1.5rem;
    /* Space between grid items */
    max-width: 1000px;
    margin: 0 auto;
}

.industries-item {
    background-color: #000;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.industries-item.center {
    grid-column: 2 / 3;
}

.industries-image {
    width: 100%;
    height: 275px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    animation: fadeInBottom 0.75s forwards 0.5s;
    /* Slightly slower fade-in */
}

.industries-item h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    margin: 1rem 0 0.5rem;
}

.industries-item p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 1rem;
}

.industries-link {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #007BFF;
    text-decoration: none;
    margin-top: 0.5rem;
}

.industries-link:hover {
    text-decoration: underline;
}

/* ============================
   General Footer Styling
   ============================ */

.footer-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.footer-bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.20;
    /* Increase opacity to make it more visible */
}

.footer {
    position: relative;
    /* Ensure footer is positioned above the image */
    background-color: #000;
    /* Black background */
    color: #fff;
    /* White text */
    font-family: 'Poppins', sans-serif;
    /* Poppins font */
    padding: 20px 0;
    z-index: 10;
}

.footer-top {
    padding-bottom: 15px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    margin: 10px;
}

.logo-text-medium {
    font-weight: bold;
}

.text-brand-linear-gradient {
    color: #fff;
}

.footer-info p {
    margin-top: 10px;
    font-size: 20px;
}

.footer-info {
    flex: 1;
    display: flex;
    /* Make it a flex container */
    justify-content: center;
    /* Horizontally center content */
    align-items: center;
    /* Vertically center content (optional) */
    flex-direction: column;
    /* Stack items vertically if there are multiple */
    text-align: center;
    /* Center-align text, if any */
    padding-right: 100px;
}

.social-links {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

.social-links a {
    margin-right: 15px;
}

.social-links .social-icon {
    width: 30px;
    height: 30px;
}

.footer-links {
    flex: 2;
}

.footer-links-menu {
    flex: 1;
    padding-right: 50px;
}

.footer-links h4,
.footer-links-menu h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #f39c12
}

.footer-links ul,
.footer-links-menu ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li,
.footer-links-menu ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-links ul li a,
.footer-links-menu ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-links ul li a:hover,
.footer-links-menu ul li a:hover {
    color: #f39c12
}

.footer-contact h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #f39c12
}

.footer-contact p {
    font-size: 14px;
}

.footer-contact a {
    color: #fff;
    text-decoration: none;
}

.footer-contact a:hover {
    color: #f39c12
}

.copyright {
    text-align: center;
    padding: 5px;
    font-size: 14px;
}


/* ============================
   Responsive styling
   ============================ */

/* Responsive Styles */
@media (max-width: 1024px) {
    .menu-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #000;
        padding-left: 0;
        margin: 0;
        padding: 1rem;
    }

    .menu-list.show {
        display: flex;
    }

    .menu-item {
        font-size: 14px;
    }

    .menu-item.contact {
        background-color: #f39c12;
        color: white;
        padding: 7.5px 15px;
        border-radius: 10px;
        text-align: center;
        display: inline-block;
        transition: background-color 0.3s;
    }

    .menu-list li:last-child {
        margin: 0 auto;
        /* Ensure it's centered in the flex container */
    }

    .hamburger {
        display: flex;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 15px 10px;
    }

    .logo-img {
        width: 120px;
    }

    .menu-list {
        gap: 20px;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1.2rem;
    }

    .footer {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 15px 10px;
    }

    .logo-img {
        width: 120px;
    }

    .menu-list {
        gap: 20px;
    }

    .hero-text h1 {
        font-size: 1.8rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .hero-button {
        font-size: 1rem;
    }

    .about-us-section p {
        font-size: 0.9rem;
        ;
    }

    /* Contact page */

    .contact-section {
        flex-direction: column;
        /* Stack sections vertically */
        align-items: center;
        /* Center-align content */
        gap: 20px;
        /* Add spacing between sections */
        padding-top: 0px;
        padding-bottom: 50px;
    }

    .contact-section h2 {
        margin: 0px;
        /* Adjust padding for smaller screens */
        padding-bottom: 25px;
        font-size: 1.5rem;
    }

    .contact-left,
    .contact-right {
        text-align: center;
        /* Center-align text for smaller screens */
        border-right: none;
        /* Remove border for better appearance */
        padding: 10px 0;
        /* Adjust padding for smaller screens */
        font-size: 0.9rem;
    }

    .contact-right video {
        width: 100%;
        /* Ensure the video takes full width */
        height: auto;
        /* Maintain aspect ratio */
        justify-items: center;
        align-items: center;
    }

    .social-links-contact {
        display: flex;
        justify-content: center;
    }


    .hero-contact {
        text-align: center;
        /* Center the hero text */
    }

    .hero-text-contact h1 {
        font-size: 2rem;
        /* Adjust font size for smaller screens */
    }

    /* Services Page */

    .services-grid {
        grid-template-columns: repeat(1, 1fr);
        /* Adjusted to 2 columns */
    }

    /* Footer */

    .footer {
        font-size: 0.7rem;
    }

    .row {
        flex-direction: column;
        /* Stack items vertically */
        align-items: center;
        /* Center align items horizontally */
        flex-wrap: nowrap;
    }

    .col {
        margin: 10px 0;
        /* Add spacing between stacked items */
        flex: none;
        /* Prevent columns from resizing unevenly */
        width: 100%;
        /* Ensure full-width columns */
        text-align: center;
        /* Center-align text inside columns */
    }

    .footer-info,
    .footer-links,
    .footer-contact {
        text-align: center;
        /* Center-align individual sections */
        padding-right: 0;
    }

    .footer-info p {
        justify-content: center;
        align-items: center;
    }

    .footer-links h4,
    .footer-contact h4 {
        margin: 10px 0;
    }

    .footer-links ul,
    .footer-links-menu ul {
        text-align: center;
        /* Align footer links to center */
        margin: 10px 0;
    }

    .social-links {
        justify-content: center;
        /* Center align social icons */
        margin-top: 10px;
        /* Add spacing for clarity */
    }

    .footer-links-menu {
        flex: 1;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }

    /* About us */

    .who-are-we-section,
    .what-we-do-section {
        flex-direction: column;
        /* Stack the content vertically */
        padding: 20px 10px;
        /* Adjust the padding for smaller screens */
    }

    .who-are-we-content,
    .what-we-do-content {
        flex-direction: column;
        /* Stack text and image vertically */
        gap: 10px;
        /* Reduce gap between the text and image */
    }

    .who-are-we-text,
    .what-we-do-text {
        text-align: center;
        /* Center align text */
        padding: 0;
        /* Remove the extra padding */
    }

    .who-are-we-text,
    .what-we-do-text {
        order: 1;
        /* Text comes first (Title + Paragraph) */
    }

    .who-are-we-image,
    .what-we-do-image {
        order: 2;
        /* Image comes last */
        justify-content: center;
        align-items: center;
        max-width: 100%;
        /* Ensure images are fully responsive */
    }

    .who-are-we-image img,
    .what-we-do-image img {
        max-width: 100%;
        /* Make sure images scale down properly */
        height: auto;
        /* Maintain aspect ratio */
        padding-top: 20px;
        /* Adjust padding to suit the smaller layout */
    }

    .who-are-we-text h2,
    .what-we-do-text h2 {
        font-size: 1.2rem;
        /* Slightly smaller font for titles */
    }

    .who-are-we-text p,
    .what-we-do-text p {
        font-size: 0.9rem;
        /* Smaller font size for paragraph text */
    }

    /* Contact - Index page */

    .contact-us-content {
        flex-direction: column;
        /* Stack text and image vertically */
        gap: 10px;
        /* Smaller gap between text and image */
        margin-left: 10%;
        margin-right: 10%;
        border: 1px solid #555;
        padding-bottom: 25px;
    }

    .contact-text,
    .contact-image {
        text-align: center;
        padding: 0 15px;
    }

    .contact-us-head h1 {
        font-size: 2rem;
        /* Adjust font size for smaller screens */
    }

    #contact-us-index {
        padding: 0px;
    }

    /* Why choose us - Index page */

    .why-choose-us {
        flex-direction: column;
        /* Stack the items vertically */
        height: auto;
        /* Allow the height to adjust based on content */
        padding: 0px 25px;
        /* Reduce padding */
    }

    .why-choose-us-head {
        padding-top: 25px
    }

    .why-choose-item {
        width: 100%;
        /* Make items take full width */
        margin-bottom: 20px;
        /* Add space between items */
    }

    .why-choose-item h3 {
        font-size: 1rem;
    }

    .why-choose-item p {
        font-size: 0.9rem;
    }

    .box {
        height: auto;
        /* Allow box height to adjust based on content */
        padding: 20px;
        /* Reduce padding for smaller screens */
        margin-left: 5%;
        margin-right: 5%;
        border: 1px solid #555;
    }

    .why-choose-image {
        max-width: 35%;
        /* Adjust image size for smaller screens */
        margin: 15px 0;
        /* Reduce margin around images */
    }

    .about-us-head {
        flex-direction: column;
        /* Stack items vertically */
        align-items: center;
        /* Center align content horizontally */
        height: auto;
        /* Adjust height to fit content */
        gap: 1rem;
        /* Reduce spacing between elements */

    }

    .index-about-us {
        display: none;
    }

    .about-us-content {
        width: 100%;
        /* Content takes full width */
        text-align: center;
        /* Center align text */
    }

    .about-us-head h1 {
        padding-top: 25px;
        /* Reduce spacing for smaller screens */
    }

    .about-us-head p {
        margin-top: 1rem;
        /* Add space between image and text */
        margin-left: 5%;
        margin-right: 5%;
        border: 1px solid #555;
        padding: 25px;
    }

    .services {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        border: 1px solid #555;
        padding: 25px;
    }

    .services .service-list {
        display: none;
    }

    .services .services-dropdown-container {
        display: inline;
    }

    .service-description {
        text-align: center;
    }

    #service-dropdown {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        margin-bottom: 20px;
        border: 1px solid #f39c12;
        color: #f39c12;
        background-color: #222;
    }

    /* Adjust image size for small screens */
    .service-image-index {
        width: 80vw;
    }

    .careers-section img {
        height: auto;
        width: 80%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 25px;
    }

    .hero-text-careers h1 {
        font-size: 2rem;
        padding-bottom: 20px;
    }

    .careers-section-main p {
        height: 20vh;
        font-size: 1.5rem;
        padding: 100px 0;
    }

    /* Industries - Index page */

    .industries-index {
        flex-direction: column; /* Stack the items vertically */
        height: auto; /* Allow the height to adjust based on content */
        padding: 0px 25px; /* Reduce padding */
    }

    .industries-head{
        padding-top:25px
    }

    .industries-item-index {
        width: 100%; /* Make items take full width */
        margin-bottom: 20px; /* Add space between items */
    }

    .industries-item-index h3 {
        font-size: 1rem;
    }

    .industries-item-index p {
        font-size: 0.9rem;
    }

    .box-industries {
        height: auto; /* Allow box height to adjust based on content */
        padding: 20px; /* Reduce padding for smaller screens */
        margin-left: 5%;
        margin-right: 5%;
        border: 1px solid #555;
    }

    .industries-index-image {
        max-width: 35%; /* Adjust image size for smaller screens */
        margin: 15px 0; /* Reduce margin around images */
    }

    .industries-grid-index {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* Keeps 3 columns per row */
        gap: 1rem;
        margin: 0 auto;
    }
}